<div class="container-fruid mt-5">
    <div class="row">
        <div class="col-xl-8 offset-xl-1">
            <canvas id="myChart" width="250" height="150"></canvas>
            <script>draw_graph();</script>
        </div>

        <div class="col-xl-3">
            <%# form-horizontal...表示領域の幅に応じて、ラベルとフォーム部品を水平に並べる %>
            <%# form要素のclass属性にform-horizontalを指定する。 %>
            <form class="form-horizontal">
                <%# ラベルとフォーム部品を、class属性にform-groupを指定したdiv要素で括る。 %>
                <div class="form-group">
                    <label class="control-label col-lg-3">月齢</label>
                    <div class="col-lg-6">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3">身長</label>
                    <div class="col-lg-6">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3">体重</label>
                    <div class="col-lg-6">
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-warning btn-lg mt-3">記録する</button>
                    </div>
                </div>
            </form>
        </div>
    </div>