<h1>New Book</h1>

# renderメソッドは別のビューファイルを埋め込みます。
# わざわざ別のファイルに書く理由は、他の画面でもそのファイルを利用することで、同じ部品を共用したいからです。
# 埋め込む用のビューファイルをパーシャルと言います。書式は以下の通りです。
# <%= render 埋め込みたいファイル名, パーシャル内で使う変数名: 渡す変数 %>

<%= render 'index', growth_record: @growth_record %>
